<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="Thriftique"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thriftique"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name="clothing.ItemDetailActivity"/>
        <activity
            android:name="Authentication.RegisterPart2"
            android:exported="true"
            />
        <activity android:name=".SeeAllItemsActivity" />
        <activity android:name="clothing.CartActivity"
            tools:ignore="Instantiatable">
            <!-- You can specify intent filters here if needed -->
        </activity>

        <activity
            android:name=".Homepage"
            android:exported="true" />
        <activity
            android:name="com.example.android.SignUp"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="Authentication.LogIn"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>